body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.menu li {}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
}

.menu a:hover {
    color: #111;
}

#logo {
    height: 45px;
}

#logo-list {
    width: 25%;
    display: flex;
    justify-content: end;
}

#logo-list a {
    text-align: end;
    width: 45px;
}

.content-body {
    margin-top: 65px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.reference-body {
    width: 100%;
    height: 100%;
    display: flex;
}

.side-bar {
    width: 20%;
    border: 1px solid #f5f5f5;
}

.code-normal {
    background-color: #f5f5f5;
}

.sidebar {
    width: 20%;
    overflow-x: hidden;
}

.sidebar ul {
    list-style-type: none;
    width: 100%;
}

.sidebar li {
    margin: 5px 0px;
}

.sidebar li:hover {
    cursor: pointer
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

.info-body {
    width: 80%;

}

.horizontal {
    display: flex;
}